html,
body {
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    -webkit-font-smoothing: antialiased; /* Cải thiện độ mịn văn bản trong trình duyệt WebKit */
    -moz-osx-font-smoothing: grayscale; /* Cải thiện độ mịn văn bản trong Firefox trên macOS */
}


/* Preloader */
#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #f44336;
    border-left-color: transparent;
    animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        border-color: #f44336;
        border-left-color: transparent;
    }

    50% {
        transform: rotate(180deg);
        border-color: #673ab7;
        border-left-color: transparent;
    }

    100% {
        transform: rotate(360deg);
        border-color: #f44336;
        border-left-color: transparent;
    }
}


.header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; /* Đảm bảo nav nằm trên các phần tử khác */

}

.navbar-custom .navbar-nav .nav-link {
    color: #5a5a5a;
    transition: color 0.3s ease;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: red;
}



.search-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.search-container input {
    margin-right: 10px;
}

/* Thanh slider */
.slider-container {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}
.slider-item {
    box-sizing: border-box;
    padding: 15px;
    transition: transform 0.3s ease;
}
.slider-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.slider-item h3 {
    text-align: center;
    font-size: 14px;
    margin: 10px 0 0;
    color: #555;
    text-decoration: none;
}
.slider-item a {
    text-decoration: none; /* Xóa gạch chân khỏi chữ */
}
.slider-item:hover img {
    transform: scale(1.05);
}
.slider-item:hover h3 {
    color: #007bff;
}
.slider-container.nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.slider-container.search-container,
.slider-container.filter-container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-container.search-container input,
.slider-container.filter-container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.slider-container.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.slider-container.search-container button:hover {
    background-color: #0056b3;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}

/* Responsive */
@media (min-width: 769px) {
    .slider-item {
        flex: 0 0 16.6667%; /* Hiển thị 6 truyện mỗi lần */
    }
}
@media (max-width: 768px) {
    .slider-item {
        flex: 0 0 33.3333%; /* Hiển thị 3 truyện mỗi lần trên màn hình nhỏ hơn */
    }
}
@media (max-width: 480px) {
    .slider-item {
        flex: 0 0 50%; /* Hiển thị 2 truyện mỗi lần trên màn hình nhỏ hơn */
    }
}
.nav-buttons {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.nav-buttons button {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: all;
    border-radius: 50%;
    outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.nav-buttons button:focus {
    outline: none;
}

.nav-buttons button:active {
    transform: scale(0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .slider-item {
        flex: 0 0 50%;
    }
}

@media (max-width: 480px) {
    .slider-item {
        flex: 0 0 100%;
    }
}


/* Comic List */
.comic-item {
    background: none;
    border: none;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    position: relative;
    padding-bottom: 10px;

}

.comic-item img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 240px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.comic-item h3 {
    font-size: 18px;
    color: #333;
    position: relative;
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Điều chỉnh giá trị này tùy thuộc vào độ rộng mong muốn */
}

.comic-item h3:hover {
    color: red;
}
.latest-chapters {
    text-align: left;
    display: flex; /* Hiển thị phần tử con trên cùng một dòng */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 5px; /* Khoảng cách giữa "Mới nhất:" và chương */
}

.latest-chapters h4 {
    font-size: 16px;
    margin: 0; /* Loại bỏ margin để căn hàng */
    white-space: nowrap; /* Không xuống dòng */
}

.latest-chapters a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    white-space: nowrap; /* Không xuống dòng */
}

.latest-chapters a:hover {
    color: #f44336;
    text-decoration: none;
}


.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls button {
    margin: 0 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    background-color: #fff;
    color: red;
    border: 1px solid #ddd;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: red;
    color: #fff;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: red;
    color: #fff;
    border-color: red;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    border-color: #ddd;
    cursor: not-allowed;
}

/* Các thiết lập CSS khác... */

.comic-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mặc định hiển thị 4 cột trên màn hình lớn */
    gap: 1rem; /* Khoảng cách giữa các phần tử */
}

@media (max-width: 992px) { /* Điều chỉnh cho màn hình từ 992px đến 600px */
    .comic-list {
        grid-template-columns: repeat(3, 1fr); /* Hiển thị 3 cột trên màn hình nhỏ hơn */
    }
}

@media (max-width: 600px) { /* Điều chỉnh cho màn hình nhỏ hơn 600px */
    .comic-list {
        grid-template-columns: repeat(2, 1fr); /* Hiển thị 2 cột trên màn hình rất nhỏ */
    }
}

.dropdown:hover .mega-menu {
    display: block;
}

.mega-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.mega-menu.show {
    display: block;
}

.genre-button {
    display: block;
    margin: 5px 0;
    width: 100%;
    background-color: transparent;
    /* Đặt nền trong suốt */
    border: none;
    /* Xóa viền */
    color: black;
    /* Màu chữ đen */
    position: relative;
    /* Để định vị cho phần tử ::after */
    padding-bottom: 5px;
    /* Khoảng cách giữa chữ và thanh ngang */
    
}


.mega-menu .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.genre-column {
    width: 25%;
    /* 100% / 4 columns = 25% width per column */
    padding: 10px;
    box-sizing: border-box;
}

.genre-button::after {
    content: '';
    /* Không có nội dung */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Độ dày của thanh ngang */
    background-color: red;
    /* Màu của thanh ngang */
    transition: width 0.3s ease;
    /* Hiệu ứng mở rộng thanh ngang */
}

.genre-button:hover::after {
    width: 100%;
    /* Mở rộng thanh ngang khi hover */
}

.filter-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: uppercase; /* Biến thành chữ in hoa */
    font-family: 'Roboto', sans-serif; /* Sử dụng font Google */
}

.filter-container a {
    flex: 1;
    /* Chia đều độ rộng cho mỗi liên kết */
    text-align: center;
    /* Canh giữa văn bản trong mỗi liên kết */
    color: black;
    /* Màu chữ mặc định */
    font-size: 14px;
    /* Kích thước chữ */
    font-weight: 500;
    /* Độ đậm của chữ */
    text-decoration: none;
    /* Bỏ gạch chân */
    position: relative;
    transition: color 0.3s ease;
    /* Hiệu ứng mượt mà khi thay đổi màu chữ */
    width: auto;
}

.filter-container a::after {
    content: '';
    /* Không có nội dung */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Độ dày của thanh ngang */
    background-color: red;
    /* Màu của thanh ngang */
    transition: width 0.3s ease;
    /* Hiệu ứng mở rộng thanh ngang */
}

.filter-container a:hover::after {
    width: 100%;
    /* Mở rộng thanh ngang khi hover */
}

.filter-container a:hover {
    color: red;
    /* Thay đổi màu chữ khi hover */
}

#filter-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: uppercase; /* Biến thành chữ in hoa */
    font-family: 'Roboto', sans-serif; /* Sử dụng font Google */
}

#filter-container a {
    flex: 1;
    /* Chia đều độ rộng cho mỗi liên kết */
    text-align: left;
    /* Canh giữa văn bản trong mỗi liên kết */
    color: black;
    /* Màu chữ mặc định */
    font-size: 14px;
    /* Kích thước chữ */
    font-weight: 500;
    /* Độ đậm của chữ */
    text-decoration: none;
    /* Bỏ gạch chân */
    position: relative;
    transition: color 0.3s ease;
    /* Hiệu ứng mượt mà khi thay đổi màu chữ */
    width: auto;
}

#filter-container a::after {
    content: '';
    /* Không có nội dungs */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Độ dày của thanh ngang */
    background-color: red;
    /* Màu của thanh ngang */
    transition: width 0.3s ease;
    /* Hiệu ứng mở rộng thanh ngang */
}

#filter-container a:hover::after {
    width: 100%;
    /* Mở rộng thanh ngang khi hover */
}

#filter-container a:hover {
    color: red;
    /* Thay đổi màu chữ khi hover */
}
.comic-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    /* Sử dụng mã màu #ffffff để đảm bảo hiển thị tốt trên tất cả các trình duyệt */
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    max-width: 300px;
    display: none;
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-in-out;
    /* Thêm hiệu ứng chuyển đổi khi tooltip hiện hoặc ẩn */
}
/* Footer Styles */
.footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 40px 0;
    border-top: 5px solid #ff4757; /* Đường viền nổi bật */
}



.footer p, .footer ul, .footer li {
    font-size: 0.95rem;
    line-height: 1.6;
}

.footer .container-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .text-center {
    margin-top: 20px;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

@media (max-width: 768px) {
    .footer .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .col-lg-3, .footer .col-md-6 {
        width: 100%;
        text-align: center;
    }

    .footer .d-flex {
        justify-content: center;
    }

    .footer .text-center {
        font-size: 0.8rem;
    }
}
